body {
    font-family: "helvetica";}

h1 {
    font-size: 4em;
    font-family: carta-marina, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-size: 1.4em;
    font-family: carta-marina, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1,h2 {
    color: #a3b18a;
    text-align: center;
    background: #1e2019;
    padding: 10px;
    margin-top: 10%;
}


body {
    background: #1e2019
}


p {
    background-color: #1e2019;
    font-size: 1.25rem;
    padding: 20px;
    color: #efe9f4;
    text-align: justify;
    font-family: quasimoda,sans-serif;
    font-weight: 400;
    font-style: normal;

}


h3 {
    color: #8dab7f;
    text-align: center;
    font-size: 1.953rem;
    font-family: carta-marina, sans-serif;
    font-weight: 400;
    font-style: normal;
}



h4 {
    color: #8dab7f;
    font-size: 1.563rem;
    text-align: center;
    font-family: carta-marina, sans-serif;
    font-weight: 400;
    font-style: normal;

}

section{
    width: 80%;
    max-width: 700px;
    margin: auto;
    padding: 0;
}



.subs {
    font-size: 1.55rem;
}

.adjust-line-height {
    line-height: 4.5rem;
}

.text-align {
    text-justify: center;
}


body {
    border: 10px;
    width: 75%;
    margin: auto;
    text-align: center;
}
footer {
    text-align: center;
    color: #dad7cd;
    width: 100%;
    padding: 0;
}

.dark{
    background: #1e2019;
    padding: 2em 0;
}

nav{
    position:fixed;
    top:0;
    left: 0;
    margin: 0;
    width: 100%;
    background: #1e2019;
    padding: 2.3em 0;
    font-size: 0.80rem;

}

nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav ul li{
    display: inline;
    margin: 20px;
}

nav a {
    color: #a3b18a;
}

nav :hover{
    border-bottom: none;
    color: #cfee9e;
    transition: all 0.3s ease-in-out;
}

li{
    list-style: none;
}

header{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 0;
}

section{
    width: 80%;
    max-width: 700px;
    margin: auto;
    padding: 0;
}

.dark{
    background: #1e2019;
    padding: 2em 0;
    width: 100%;
}

header h2{
    font-size: 2rem;
    font-style: italic;
    margin-top: -0.5rem;
    margin-bottom: 2rem;
    text-indent: 1.5rem;
}


.headercontainer {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    text-align: center;
}

.headertext {
    flex: 60%;
    margin: 0 3em 0 0;
}

.headerimg{
    width: 50%;
    align-items: center;
    flex: 15%;
}

.morningscontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.morningstext {
    flex: 60%;
    margin: 0 3em 0 0;
}

.morningsimg {
    width: 70%;
    align-items: center;
    flex: 35%;
}

.marketcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.markettext {
    flex: 60%;
    margin: 0 3em 0 0;
}

.marketimg{
    width: 70%;
    align-items: center;
    flex: 35%;
}

.streetcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.streettext {
    flex: 60%;
    margin: 0 3em 0 0;
}

.streetimg{
    width: 70%;
    align-items: center;
    flex: 35%;
}

.connections {
    list-style: none;
    display: inline-flex;
    margin-bottom: 2em;
    margin-top: 1em;
    padding: 1em;
    width: 100%;
    justify-content: center;

}