body {
    font-family: "helvetica";}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 1.4em;
}

h1,h2 {
    color: #a3b18a;
    text-align: center;
    background: #344e41;
    padding: 10px;
    margin-top: 10%;
}


body {
    background: #dad7cd
}


p {
    background-color: #dad7cd;
    color: #000000;
    font-size: 1.25rem;
    padding: 20px;
    color: #588157;
    text-align: center;

}


h3 {
    color: #3a5a40;
    text-align: center;
    font-size: 1.953rem;
}



h4 {
    color: #3a5a40;
    font-size: 1.563rem;
    text-align: center;

}


.subs {
    font-size: 1.55rem;
}

.adjust-line-height {
    line-height: 4.5rem;
}

.text-align {
    text-justify: center;
}


body {
    border: 10px;
    width: 75%;
    margin: auto;
    text-align: center;
}
footer {
    text-align: center;
    color: #dad7cd;
}

.dark{
    background: #344e41;
    padding: 2em 0;
}

nav{
    position:fixed;
    top:0;
    left: 0;
    margin: 0;
    width: 100%;
    background: #344e41;
    padding: 2.3em 0;
    font-size: 0.80rem;

}

nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav ul li{
    display: inline;
    margin: 20px;
}

nav a {
    color: #dad7cd;
}

nav :hover{
    border-bottom: none;
    color: #a3b18a;
    transition: all 0.3s ease-in-out;
}

li{
    list-style: none;
}

section, header{
    width: 80%;
    max-width: 700px;
    margin: auto;
    padding: 0;
}

.dark{
    background: #344e41;
    padding: 2em 0;
}

header h2{
    font-size: 2rem;
    font-style: italic;
    margin-top: -0.5rem;
    margin-bottom: 2rem;
    text-indent: 1.5rem;
}
header p{
    padding-bottom: 6rem;
    font-size: 1.5rem;
    color: #f9f9f9;
}

.headercontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.headertext {
    flex: 60%;
    margin: 0 3em 0 0;
}

.morningscontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.morningstext {
    flex: 60%;
    margin: 0 3em 0 0;
}

.marketcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.markettext {
    flex: 60%;
    margin: 0 3em 0 0;
}

.streetcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.streettext {
    flex: 60%;
    margin: 0 3em 0 0;
}

.headerparagraph{
    background-color: #344e41;
    color:#dad7cd;
    align-self:auto;
}