body {
    font-family: "helvetica";}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 1.4em;
}

h1 {
    color: #344e41;
    text-align: center;
}

p {
    color: #588157;
}

body {
    background: #dad7cd
}

h2 {
    color: #344e41;
    text-align: center;
}

p {
    color: #588157;
    text-align: center;
}

body {
    background: #dad7cd
}

h1,
h2,
p {
    padding: 20px;
    color: #588157
}

h1 {
    background: #dad7cd;
    padding: 10px;
}

h2 {
    background-color: #dad7cd
}

p {
    background-color: #dad7cd;
    background-color: #dad7cd
}
p{color: #000000;}
h3 {
    color: #3a5a40;
    text-align: center;
}

h3 {
    font-size: 1.953rem;
}

h4 {
    color: #3a5a40
}

h4 {
    font-size: 1.563rem
}

h4 {
    text-align: center;
}

p {
    font-size: 1.25rem
}


.subs {
    font-size: 1.55rem;
}

.adjust-line-height {
    line-height: 4.5rem;
}

.text-align {
    text-justify: center;
}


body {
    border: 10px;
    width: 75%;
    margin: auto;
    text-align: center;
}
footer{text-align: center;}